@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@800&family=Saira:wght@700&display=swap');
:root{
    --primary-color:#033b4a;
    --secondary-color:#20c997;
    --gray:#4a4a4d;
    --bg-primary:#ecf0f3;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1, 
h2{
    font-family: 'Saira', sans-serif;
}
header{
    background-color: var(--bg-primary);
    height: 100vh;
}
header .navbar{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1100px;  
    padding: 1.5rem 2rem;  
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
a{
    text-decoration: none;
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;

}
.logo{
   color: var(--primary-color);
   font-size: 24px;
   font-weight: 600;
}
header .headercon{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
    height: 100%;
    align-items: center;
}
header .headercon img{
    width: 450px; 
    border: 8px solid var(--primary-color);
    border-radius: 300px;
}
header .headercon h1{
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
header .headercon .t1{
    font-size: 20px;
    color: var(--secondary-color);
    margin: 10px 0;
}
header .headercon.social{
    margin: 1rem 0 2rem;
}
 i{
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}
 i:hover{
    transform:scale(0.85);
}

.btn-primary{
   background-color: var(--secondary-color);
   color: #fff;
   padding: 4px 20px;
   font-size: 17px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
}
.btn-primary:hover{
    background-color: #15a078;
}
.headerte{
    margin-bottom: 5rem;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
#about , #chale{
    padding: 6rem 0;
}
h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
hr{
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#about .aboutcon{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .aboutcon .col1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
#about .aboutcon .col1  p{
  color: var(--gray);
  margin-bottom: 20px;
  line-height: 1.8;
}
.texte{
    color: var(--secondary-color);
}
#about .aboutcon .col2 p{
    color: var(--gray);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
#chale{
    background-color: var(--primary-color);
}
#chale h2{
    color: #fff;
}
#chale .row .item img {
    max-width: 100%;
    width: 600px;
    border-bottom: 2px solid #ccc;
}
#chale .row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-self: center;
    align-items: center;
    gap: 2rem;
}
#chale .row .item{
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#chale .row .item:hover{
    transform: scale(1.03);
    
}
#chale .row .item .itemcon{
    padding: 20px 15px 30px;
}
#chale .row .item .itemcon h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
#chale .row .item .itemcon a {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}
#contact {
    background-color: #00f4ab0c;
    padding: 4rem 0 ;  
}
#contact .row{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    max-width: 1100px;
    margin: auto;
    border-radius: 10px;
    column-gap: 2rem;
}
#contact .row input , #contact .row textarea{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background-color: #00f4ab0c ;
    border: 1px solid #bbb;
}
#footer{
    background-color: #222;
    color: #fff;
    text-align: center;
}
@media (max-width:768px){
    #home .navbar nav{
        display: block;
        text-align: center;

    }
    #home .navbar nav ul{
        margin-top: 20px;
    }
    #home .navbar nav ul a{
        margin: 0 8px;
    }
    #home header .headercon{
        grid-template-columns:  1fr;
    }
    #home .headerte{
        margin-bottom: 0rem;
        margin-top: 5rem;
    }
    #home header .headercon img{
        max-width: 350px;
        margin: auto;
    }
    header .headercon h1{
        font-size: 50px;
    }
    #about .aboutcon,
    #contact .row{
        grid-template-columns: 1fr;
      
        row-gap: 3rem;
    }
    #chale .row {
        grid-template-columns: repeat(2, 1fr);
    }
    #contact .row img {
        max-width: 250px;
        margin: auto;
    }
}
@media (max-width: 528px){
    #header .headercon h1{
        font-size: 38px;
    }
    header .headercon img{
        margin-top: 2rem;
    }
    #about h2
    #contact h2{
        font-size: 30px;
    }
    #about .aboutcon .col1 h3{
        font-size: 20px;
    }
    #chale .row {
        grid-template-columns:1fr;
    }
    #contact.row{
        padding: 2rem 1rem;

    }
}
